@import '../../../index.scss';

.home {

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

  section {
    max-width: 1440px;
    width: 80vw;
    margin: 0 10vw $large-indentation 10vw;
    box-sizing: border-box;
  }
}
